
<html>
<head>
  <title>Homepage</title>
</head>
<body style="background-color:#b0619f;">
  <h1>Welcome to My Homepage MI!</h1>
  <h2 style="color: #ed0905">JAY SHREE RAM YOGESH</h2>
  <strong>Keep doing yogesh... everything will be alright(HBD😼)</strong>
  <p>Nginx confi done...</p>
  <h3>I have config all settings of jenkins on remote server...😃</h3>
  <strong>____________________________________________________</strong>
  <h1>BEST LUCK YOGESH</h2>
  <div>
	  admin/
AllData/ [name='AllData']
AddData/ [name='AddData']
UpdateData/<pk> [name='UpdateData']
DeleteData/<pk> [name='DeleteData']
SignUp/ [name='signup']
SignIn/ [name='signin']
PasswordChange/ [name='passchange']
PassChangeDone/
SignOut/ [name='logout']
  </div>
</body>
</html>
